<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <h1>About</h1>
    <br />
    <a href="{% url 'home' %}">Home</a>
    <br />
</head>
<body>
    <p>
        Thanks for looking at my first Django project!

        My name is Adam. I'm currently pursuing my Master's degree at UT Austin,
        have some development experience in C#, .Net but not a whole lot in Python.

        Already, I can say I enjoy development in Python MUCH more than in C#.
        Keep following along to check back on my progress!
    </p>
</body>
</html>